@model _8768364RobbieAlazer_MVC.Controllers.CustomerDto

@{
    ViewData["Title"] = "Edit Customer";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />

            <div class="mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Phone" class="form-label"></label>
                <input asp-for="Phone" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>